<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
		<property name="hibernate.connection.url">jdbc:derby:C:\\Users\\SaiKoushik\\MyDB</property>
		<property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- <mapping resource="com/training/Course.hbm.xml" /> -->
		<mapping resource="com/training/Student.hbm.xml" />
		<mapping resource="com/training/Address.hbm.xml" />
		<mapping class="com.training.Contact" />

		<mapping class="com.training.Writer" />
		<mapping class="com.training.Story" />
		<mapping class="com.training.Event" />
		<mapping class="com.training.Speaker" />
		<mapping class="com.training.Publisher" />
		<mapping class="com.training.Book" />
	</session-factory>
</hibernate-configuration>
